<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Choose Doctor</title>
  </head>
  <style>
    td,
    th {
      border: 1px solid black;
      height: 25px;
      text-align: center;
    }
  </style>
  <body
    style="
      border: 2px solid;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px;
    "
  >
    <label style="font-size: xx-large">Welcome, <%= username %>!</label>
    <a href="/user/<%= username %>" style="font-size: small">Back</a><br/><br/>
    <form style="text-align: center" action="/user/<%= username %>" method="post">
      <label>Select Doctor:</label>
      <select name="doctors">
        <% results.forEach(function(result) { %>
        <option value="<%= result.doctorName %>">
          <%= result.doctorName %>
        </option>
        <% }); %>
      </select>
      <br /><br />
      <button type="submit" style="width: 50%">Get Slots</button>
    </form>
  </body>
</html>
